doctype html

head
    title infoBind
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/javascripts/infoBind.js"></script>

body
    div
        h1 infomation binding
    div
        h3 wechat infomation
        div nickname: 
            p(id="nickname") #{nickname}
        div openid: 
            p(id="openid") #{openid}
        

    div
        p username
            input(type="text", id="username")
        p password
            input(type="password", id="password")
        div once: 
            p(id="once") #{once}
        button(id="submit") submit
