block variables
  - const page_title = "Default Title";

doctype html
html(lang="en")
  head
    // use Unicode
    meta(charset="utf-8")
    // force IE to use the lastest rendering engine
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    // force browser to scale the app to the size of window space available
    meta(name="viewport", content="width=device-width, initial-scale=1")

    block style
      

    block title
      title= page_title

    block stylesheets
      link(rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")

    // bring support for HTML5 and CSS3 to old IEs
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  body
    block header

    block content
    
    block footer

    block hiddens

    block javascripts
      script(src="https://cdn.bootcss.com/jquery/2.0.0/jquery.js")
      script(src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")