doctype html
html
  head
    title= "login page"
  body
    form(method="POST")
        p username
            input(type="text", name="username")
        p password
            input(type="password", name="password")
        button(type="submit") login
